.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    background-color: #5c5c5cb9;
}


.modal-content {
    background: #fff;
    transition: all .1s;
    opacity: 1;
    border-radius: 10px;
}
